.for-png(38);
.for-png(@n,@i:0) when (@i =< @n){
    .png@{i}{
        background-image: url('./images/@{i}.png');
        background-repeat: no-repeat;
        background-size:contain;  
        width: 100%;
        min-height: 110px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        span{
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .for-png(@n,(@i+1))
}
.weather_list{
    display: flex;
    width: 330px;
    justify-content: space-around;
    background: rgba(0,0,0,.3);
    border-radius: 5px;
    padding: 3px 0px;
    font-size: 14px;
    color: lightcyan;
    border-radius: 8px;
}
.temperature,.date{
    text-align: center;
}
.everyday{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 260px;
    width: 100px;
    &:hover{
        background-color: rgba(255, 255, 255,.3);
        color:#ffffff;
        border-radius: 10px;
    }
}